Repository pallets/jinja, pull requests merged in 2021-04, with the labels that each got.

#1126 add pgettext to InternationalizationExtension
  CHANGES.rst
  docs/extensions.rst
  src/jinja2/ext.py
  tests/test_ext.py
Labels: i18n

#1294 Add __aiter__ to Undefined
  CHANGES.rst
  src/jinja2/runtime.py
  tests/test_async.py
Labels: async

#1363 Add async support to NativeEnvironment
  CHANGES.rst
  src/jinja2/nativetypes.py
  tests/test_async.py
Labels: async

#1226 Add symbol names for tilde and pipe
  docs/templates.rst
Labels: docs

#1236 Update wording on dictionary default ordering
  docs/templates.rst
  src/jinja2/filters.py
Labels: docs

#1364 Fix map documentation
  src/jinja2/filters.py
Labels: docs

#1367 Fix incorrect docs - line statements have no default
  docs/templates.rst
Labels: docs

#1392 async support doesn't require patching
  CHANGES.rst
  docs/intro.rst
  src/jinja2/async_utils.py
  src/jinja2/asyncfilters.py
  src/jinja2/asyncsupport.py
  src/jinja2/compiler.py
  src/jinja2/environment.py
  src/jinja2/filters.py
  src/jinja2/nativetypes.py
  src/jinja2/runtime.py
  src/jinja2/utils.py
  tests/conftest.py
  tests/test_async.py
  tests/test_async_filters.py
Labels: async

#1398 unique links for filters, tests, globals
  docs/conf.py
  docs/templates.rst
  requirements/dev.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/tests.txt
  requirements/typing.txt
Labels: docs
